.group {
    position: relative;
    width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    form {
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 30px;
    }
  
    .form-input {
      font-size: 18px;
      width: 100%;
      margin: 10px 0;
      
    }
    .checkbox-container {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .file-form {
    padding-bottom: 40px;
  }