
.text-container {
  margin: 0 auto;
  width: 900px;
  text-align: left;
  padding: 60px;
  span {
    font-size: 20px;
  }
  .comp-name {
    font-size: 25px;
    font-family: 'Francois One', sans-serif;
  }

}
.icon {
  padding-top: 10px;
  width: 26%;
}

.about-text {
  text-shadow: 0.1px 0.1px black;
  color: #008E7E;
  font-size: 16px;
display: block;
  height: 200px;
}