$sub-color: #f7eaeb;
$main-color: #1cab9c;

.new-offer-container{
  position: relative;
  width: 600px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
}
.buttons {
  .btn {
    margin: 5px;
  }
}

.error {
  color: red;
  
}