@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');


* {
	box-sizing: border-box;
}
body {
  font-family: 'Open Sans Condensed';
  text-align: center;
}
a {
  text-decoration: none !important;
  color: black;
}

.space {
  padding: 60px;
}